<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <section class="game">
        <div class="card" data-framework="beholder">
            <img class="front" src="/images/Beholder.jpg" alt="Beholder">
            <img class="back" src="/images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="beholder">
            <img class="front" src="/images/Beholder.jpg" alt="Beholder">
            <img class="back" src="/images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="cube">
            <img class="front" src="/images/cube.jpg" alt="Cube">
            <img class="back" src="/images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="cube">
            <img class="front" src="/images/cube.jpg" alt="Cub">
            <img class="back" src="/images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="displacerBeast">
            <img class="front" src="/images/displacerBeast.jpg" alt="displacerBeast">
            <img class="back" src="/images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="displacerBeast">
            <img class="front" src="/images/displacerBeast.jpg" alt="displacerBeast">
            <img class="back" src="../../images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="gnoll">
            <img class="front" src="/images/gnoll.png" alt="gnoll">
            <img class="back" src="../../images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="gnoll">
            <img class="front" src="/images/gnoll.png" alt="gnoll">
            <img class="back" src="../../images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="illithid">
            <img class="front" src="/images/illithid.jpg" alt="illithid">
            <img class="back" src="../../images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="illithid">
            <img class="front" src="/images/illithid.jpg" alt="illithid">
            <img class="back" src="../../images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="owlbear">
            <img class="front" src="/images/owlbear.jpg" alt="owlbear">
            <img class="back" src="../../images/DNDLogo.png" alt="DNDLogo">
        </div>
        <div class="card" data-framework="owlbear">
            <img class="front" src="/images/owlbear.jpg" alt="owlbear">
            <img class="back" src="../../images/DNDLogo.png" alt="DNDLogo">
        </div>
    </section>
    
    <script src="/src/script.js"></script>
</body>
</html>